<header class="custom-header">
    <div class="header-left">
      <!-- Aquí irá tu logo, simplemente añade la ruta a tu imagen -->
      <img src="assets/images/logo-universidad-de-la-guajira.png" alt="Logo Universidad de La Guajira" class="h-8rem py-0 px-0">
    </div>
    
    <div class="header-center">
      <h1>UniGuajira Management</h1>
    </div>
    
    <div class="header-right">
      <button pButton type="button" label="Profile" icon="pi pi-user" class="p-button-rounded"></button>
      <button pButton type="button" label="Logout" icon="pi pi-sign-out" class="p-button-danger p-button-rounded"></button>
    </div>
  </header>
  