<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro de Programas
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Programas" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/programs/new']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="programs">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Director Id</th>
                    <th>Nombre Director</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-program>
                <tr>
                    <td>{{ program.name }}</td>
                    <td>{{ program.director }}</td>
                    <td>{{ getDirectorName(program.director) }}</td> 
                    <td>
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/programs/edit', program.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(program.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
