<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Consulta 6: Agrupar profesores por programa con condiciones.
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Ir a Consulta 1" 
                  icon="pi pi-search"
                  class="bg-cyan-600"
                  [routerLink]="['/qeryadv1']">
                </a>
                <a 
                  pButton 
                  pRipple
                  label="Ir a Consulta 2" 
                  icon="pi pi-search"
                  class="bg-cyan-600"
                  [routerLink]="['/qeryadv2']">
                </a>
                <a 
                  pButton 
                  pRipple
                  label="Ir a Consulta 3" 
                  icon="pi pi-search"
                  class="bg-cyan-600"
                  [routerLink]="['/qeryadv3']">
                </a>
                <a 
                  pButton 
                  pRipple
                  label="Ir a Consulta 4" 
                  icon="pi pi-search"
                  class="bg-cyan-600"
                  [routerLink]="['/qeryadv4']">
                </a>
                <a 
                  pButton 
                  pRipple
                  label="Ir a Consulta 5" 
                  icon="pi pi-search"
                  class="bg-cyan-600"
                  [routerLink]="['/qeryadv5']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="queryadv6">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre de Programa</th>
                    <th>Cantidad de Estudiantes</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-queryadv6>
                <tr>
                    <td>{{ queryadv6.program__name }}</td>
                    <td>{{ queryadv6.total }}</td>
                    <td>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
