<p-card header="Consultas" [style]="{ width: '100%' }">
    <ng-template pTemplate="header"></ng-template>
    <div>
      <div class="flex justify-content-center flex-wrap">
        <button 
          pButton 
          pRipple
          label="Consulta 1"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv1']"
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Consulta 2"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv2']"
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Consulta 3"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv3']"
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Consulta 4"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv4']"
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Consulta 5"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv5']"
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Consulta 6"
          icon="pi pi-search"
          severity="primary"
          class="mr-2"
          type="button"
          [routerLink]="['/qeryadv6']"
        ></button>
      </div>
    </div>
    <ng-template pTemplate="footer"></ng-template>
  </p-card>
  