<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro Directores de Programa
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Director de Programa" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/programsdir/new']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="programsdir">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-programsdir>
                <tr>
                    <td>{{ programsdir.name }}</td>
                    <td>{{ programsdir.address }}</td>
                    <td>{{ programsdir.phone }}</td>
                    <td>{{ programsdir.email }}</td>
                    <td>
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/programsdir/edit', programsdir.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(programsdir.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
