<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro de Prestamos
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Prestamos" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/loans/new']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="loans">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id Estudiante</th>
                    <th>Nombre Estudiante</th>
                    <th>Nombre del libro</th>
                    <th>Fecha del Prestamo</th>
                    <th>Fecha de Regreso</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-loan>
                <tr>
                    <td>{{ loan.student }}</td>
                    <td>{{ getStudentName(loan.student) }}</td>
                    <td>{{ loan.namebook }}</td>
                    <td>{{ loan.dateloans }}</td>
                    <td>{{ loan.datereturn }}</td>
                    <td>
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/loans/edit', loan.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(loan.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
